@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte-principal: "Spicy Rice", serif;
    --fonte-secundario: "Varela Round", sans-serif;
    --vermelho-cereja: #780000ff;
    --vermelho-fogo: rgb(190, 164, 19);
    --mamao: rgb(255, 241, 86);
    --azul-prússia: rgb(0, 0, 0);
    --azul-bebe: rgb(226, 171, 31);
    --branco: #ffffff;
    
}

body{
    font-family: var(--fonte-principal);
    background-color: var(--mamao);
}

.img.thumbnail{
    border: 2px solid var(--mamao)
}

h1,h3{
    font-family: var(--fonte-principal);
}

.card{
    background-color: var(--azul-bebe);
    color: var(--branco);
    
}

.footer-link{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--vermelho-fogo);
}